

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/22/Hobart_buses_%285929879281%29.jpg");
    background-size: 100%;
}


h1 {
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
  font-size: 4em;
  margin: 50px 0 25px 0px;
  align-items: center;
  
}

h2 {
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
  font-size: 3em;
  margin: 50px 0 25px 0px;
  align-items: center;
  
}

section {
  
  width: 960px;
  margin: auto;
}

img {
  width: 300px;
  height: 300px;
  margin-left: 15px;
}

div {
  text-align: center;
  width: 300px;
  font-size: 2em;
  margin: 25px auto 25px auto;
  background-color: oldlace;
}

main div:last-child{
  text-align: center;
  width: 300px;
  font-size: 2em;
  margin: 25px auto 25px auto;
  background-color: red;
}

main section:last-child { /*why won't this work? */
  border: solid green;
  margin: auto;
}

div:hover {
  background-color: burlywood;
  cursor: pointer;
}

ul { 
  text-align: center;
}

#chart {
  width: 900px;
  height: 600px;
}

#canvas {
  width: 960px;
  height: 500px;
  margin: auto;
}